body{
    background-color: beige;
    align-content: center;

}

button{
    font-family: Arial, Helvetica, sans-serif;
    block-size: 5cm;
    margin-block-end: 2cm;
    font-size: 1cm;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 300px;
    font-weight: 100;
    box-shadow: black(0,0,0, 0.1) 0 20px 20px;
    
}

button img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}

img {
    width: 100%;
}

